@use '../01-Abstracts'as *;

.socials-wrapper {
  @include flex($gap: 3rem, $wrap: wrap);
}

.social-icon {
  @include focus-state(color('primary.base'));
  @include socialIcons($official: true, $officialOnHover: true);
  font-size: 1.8rem;
  transition: $transition;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}