@use "01-Abstracts/" as *;

html,
body {
  height: 100%;
}

.sidebar {
  flex-basis: 50rem;
  background-color: getColor(gray-dark-1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

//@ ************  Workouts  ************ //
.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.workout {
  background-color: getColor(gray-dark-2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  position: relative;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;

  &--running {
    border-left: 5px solid getColor(secondary-base);
  }

  &--cycling {
    border-left: 5px solid getColor(primary-base);
  }

  &__header {
    grid-column: 1 / -1;
    @include flex(row, space-between, start);
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 600;
  }

  &__actions {
    @include flex($gap: 12px);
    line-height: 1;
    margin-top: -2px;
  }

  &__action {
    font-size: 1.6rem;
    transition: $transition;

    &--edit {
      color: getColor(emerald-400);

      &:hover {
        color: getColor(emerald-600);
      }
    }

    &--delete {
      color: getColor(rose-400);

      &:hover {
        color: getColor(rose-600);
      }
    }
  }

  &__details {
    display: flex;
    align-items: baseline;
  }

  &__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
  }

  &__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__unit {
    font-size: 1.1rem;
    color: getColor(gray-light-1);
    text-transform: uppercase;
    font-weight: 800;
  }
}
//@ ************  End Of Workouts  ************ //

//@ ************  Form  ************ //
.form {
  background-color: getColor(gray-dark-2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px repeat(3, 1fr);
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  // height: 9.25rem;
  transition:
    all 0.5s,
    transform 1ms;

  &.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }

  &__header {
    grid-column: 1/-1;
    @include flex($justify: end);
    margin-top: -10px;
  }

  &__row {
    display: flex;
    align-items: center;

    &--hidden {
      display: none;
    }
  }

  &__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: getColor(gray-light-3);
    color: getColor(slate-600);
    transition: all 0.2s;

    &:focus {
      outline: none;
      background-color: #fff;
    }
  }

  &__close-icon {
    font-size: 1.7rem;
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: $transition;
    color: getColor(zinc-400);

    &:hover {
      color: getColor(zinc-300);
    }
  }

  &__btn {
    @include btn($bgColor: color("secondary.600"));
    width: 60%;
    margin-top: 1rem;
    padding: 0.7rem 1rem !important;
    letter-spacing: 2px;
  }
}
//@ ************  End Of Form  ************ //

// Twitter Link
.twitter-link {
  &:link,
  &:visited {
    color: getColor(gray-light-1);
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: getColor(gray-light-2);
  }
}

// Copyright
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: getColor(gray-light-1);
}

// Starting Hint
.starting-hint {
  @include center-pos;
  color: getColor(zinc-300);
  font-size: 2rem;
  width: 100%;

  i {
    color: getColor(primary-base);
  }
}

// Sort
.sort {
  &__wrapper {
    margin-bottom: 3rem;
  }

  &__option-group {
    @include flex(row, flex-end, center, 1rem);
    margin-bottom: 2rem;
  }

  &__input {
    flex-basis: 30%;
  }

  &__label {
    font-size: fs(sm-2);
    color: getColor(zinc-300);
  }

  &__radio-group {
    @include flex(row, end, center, 1.5rem);
    margin: 1rem 0;

    .sort__radio-label {
      $circleSize: 16px;
      display: block;
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      font-size: 1.2rem;
      user-select: none;
      color: getColor(zinc-300);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: $circleSize;
        width: $circleSize;
        border: 2px solid getColor(primary-base);
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.2s ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%) scale(0);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: getColor(primary-base);
        transition: transform 0.2s ease;
      }
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked + .sort__radio-label {
        &::before {
          background-color: getColor(primary-base);
          border-color: getColor(primary-base);
        }

        &::after {
          transform: translateY(-50%) scale(1);
        }
      }

      &:focus + .sort__radio-label {
        &::before {
          box-shadow: 0 0 0 3px rgba(getColor(primary-base), 0.3);
        }
      }
    }
  }
}

// Clear workouts
.clear-workouts {
  font-size: 1.3rem;
  cursor: pointer;
  color: getColor(rose-400);
  transition: $transition;

  &:hover {
    color: getColor(rose-500);
  }
}

//@ ************  Confirmation Dialog  ************ //
.confirmation-dialog {
  @include flex();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  z-index: 1000; // Ensure it's above other content
  transition:
    visibility 0.3s,
    opacity 0.3s;

  &__content {
    background-color: getColor(gray-light-1);
    border-radius: 10px;
    padding: 1rem 2rem 2.5rem;
    width: 500px; // Adjust as needed
    max-width: 90%; // Ensure it's not too wide on large screens
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: getColor(zinc-200);
    @include focus-state(getColor(zinc-200));

    &:hover {
      color: getColor(zinc-50);
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    padding-block: 1rem;
    font-weight: bold;
  }

  &__message {
    margin-bottom: 2.3rem;
    font-size: 1.7rem;
  }

  &__actions {
    @include flex(row, flex-end, $gap: 1.5rem);
    margin-top: 1rem;
  }

  &__btn {
    padding: 0.7rem 2rem;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

    &--cancel {
      background-color: getColor(gray-light-2);
      color: getColor(gray-dark-1);
      &:hover {
        background-color: getColor(gray-light-3);
      }
    }

    &--delete {
      background-color: getColor(rose-400);
      color: getColor(white);
      &:hover {
        background-color: getColor(rose-500);
      }
    }
  }
}

//@ ************  Map  ************ //
#map {
  flex: 1;
  height: 100%;
  background-color: getColor(gray-light-1);
}

/* Popup width is defined in JS using options */
.leaflet-popup {
  .leaflet-popup-content-wrapper {
    background-color: getColor(gray-dark-1);
    color: getColor(gray-light-2);
    border-radius: 5px;
    padding-right: 0.6rem;
  }

  .leaflet-popup-content {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }

  .leaflet-popup-tip {
    background-color: getColor(gray-dark-1);
  }
}

.running-popup {
  .leaflet-popup-content-wrapper {
    border-left: 5px solid getColor(secondary-base);
  }
}

.cycling-popup {
  .leaflet-popup-content-wrapper {
    border-left: 5px solid getColor(primary-base);
  }
}
//@ ************  End Of Map  ************ //

// -------------------------------------------- Comments --------------------------------------------------- //

//* ***************************************   Comment  *************************************** //
//* ***************************************  End Of Comment  *************************************** //

//& ********************************  Comment  ******************************** //
//& ********************************  End Of Comment  ******************************** //

//$ *******************  Comment  ******************* $//
//$ *******************  End Of Comment  ******************* $//

//% ***************  Comment  *************** //
//% ***************  End Of Comment  *************** //

//@ ************  Comment  ************ //
//@ ************  End Of Comment  ************ //

//# ********  Comment  ******** //
//# ********  End Of Comment  ******** //

//^ *****  Comment  ***** //
//^ *****  End Of Comment  ***** //
